/SourceCode/InventoryManagementSystem/nbproject/private/
/SourceCode/InventoryManagementSystem/build/
/SourceCode/Emoji Application/nbproject/private/
/SourceCode/Emoji Application/build/
/SourceCode/Emoji Application/dist/
